@{
    ViewBag.Title = "Country";
    Layout = "~/Views/Shared/_Invoice_layout.cshtml";

}

@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        bindCount();
        $("#btnSubmit").click(function () {
            AddCount();
        })
        $("#btnDelete").click(function () {
            DelCount();
        });
    });
    var lbl = 'Country name is required';
    var glob;
    function DelCount() {
        var table = jQuery('#tbl-smtp').DataTable(),
            selectedRows = table.rows('.selected').data().length,
            selectedRow = table.rows('.selected').data();
        jQuery('#hdnEmployee').val('D');
        if (selectedRows == 0) {
            notifyMessage('Please select a record(s).', 'warning');
        }
        else {
            deleteCount(cid);
        }
    }

    function bindCount() {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("GetCounts", "Country")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#tbl-smtp tbody").empty();
                if (jQuery.fn.DataTable.isDataTable("#tbl-smtp")) {
                    jQuery('#tbl-smtp').DataTable().clear().destroy();
                }
                if (data != 0) {
                    var conut = 1;
                    jQuery.each(data, function (key, value) {
                        var row = '<tr>' +
                            '<td >' + conut + '</td>' +
                            '<td>' + value.Country_Name + '</td>' +
                            '<td><button class="btn btn-outline-secondary btn-sm" data-toggle="modal" id = "btn' + value.SNO + '"  data-sid="' + value.SNO + '" value = "Edit" data-target="#modal-smtp" onclick = "showSMTPModalCount(this)" ><i class="fa-solid fa-pen"></i></button >&nbsp;&nbsp;<button id = "btn' + value.SNO + '"  data-sid="' + value.SNO + '" value = "Delete" onclick="showSMTPModalCount(this)" class="btn btn-outline-dark btn-sm distloc"><i class="fa-solid fa-trash-can"></i></button ></td > ' +
                            '</tr>';
                        conut++;
                        jQuery("#tbl-smtp tbody").append(row);
                    });
                }
                applyDatatable('tbl-smtp');
            }
        })
    }
    function AddCount() {

        var message = validateEmployeecount(),
            type = '',
            opType = jQuery("#hdnEmployee").val();
        if (message.length > 0 && opType != 'D') {
            notifyMessage(message, 'danger');
        }
        else {
            var params = JSON.stringify(GetCount());
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("AddCount", "Country")',
                data: params,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    hideModal('modal-smtp');
                    if (opType == 'C' && data) {
                        if (data == true) {
                            message = jQuery("#txtname").val() + ' Country Already Exists.';
                            type = 'danger';
                        }
                        else {
                            message = jQuery("#txtname").val() + ' Country Successfully Created';
                            type = 'success';
                        }
                    }
                    else if (opType == 'U') {
                        var jk = true;
                        if (data == false && jk == true) {
                            message = jQuery("#txtname").val() + ' Country Already Exists.';
                            type = 'danger';
                        } else {
                            message = jQuery("#txtname").val() + ' Country Successfully Updated';
                            type = 'success';
                        }
                    }
                    notifyMessage(message, type);
                    bindCount();
                }
            })
        }
    }
    function deleteCount(cid, st) {
        type = '',
            opType = jQuery("#hdnEmployee").val();
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteCount", "Country")',
            data: JSON.stringify({ 'sno': cid }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (opType == 'D') {
                    if (data == true) {
                        message = st + ' Country is in use, cannot be deleted';
                        type = 'danger';
                    }
                    else {
                        message = st + ' Country Successfully Deleted';
                        type = 'success';
                    }
                }
                notifyMessage(message, type);
                bindCount();
            }
        })
    }


</script>
}

@* start picoded-content*@
 <div class="block-header">
    <div class="row clearfix">
        <div class="col-md-6 col-sm-12">
            <h2>Country</h2>
        </div>
        <div class="col-md-6 col-sm-12 text-right">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Setup", "Setup")"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active">Country Details</li>
            </ul>
            @* <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Create New</a> *@
            <button type="button" id="btnAdd" value="Add" data-sid="0"
                class="btn btn-sm btn-primary waves-effect waves-light f-right d-inline-block " data-toggle="modal"
                data-target="#modal-smtp" onclick="showSMTPModalCount(this);"> <i
                    class="icofont icofont-plus m-r-5"></i>
                Add Country
            </button>
            <input type="hidden" id="hdnEmployee" />
        </div>
    </div>
</div>

<div class="container-fluid">
    @* BODY DETAILS CARD/PANEL *@
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>Country Details <small></small>
                    </h2>
                    <ul class="header-dropdown dropdown dropdown-animated scale-left">
                        <li> <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="pulse"><i
                                    class="icon-refresh"></i></a></li>
                        <li><a href="javascript:void(0);" class="full-screen"><i class="icon-size-fullscreen"></i></a>
                        </li>
                        @* <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false"></a>
                            <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another Action</a></li>
                            <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                            </li> *@
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table id="tbl-smtp"
                            class="table table-bordered table-hover js-basic-example dataTable table-custom">
                            <thead>
                                <tr>
                                    <th>Sno</th>
                                    <th>Country</th>
                                    <th class="th_actions" data-sort-ignore="true">Actions</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-primary">Designed & and Developed by Biz-Logic Solutions LTD</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
    <div class="md-overlay"></div>

        <div id="styleSelector">

        </div>
</div>

                            <!-- [MODALS] -->
                            <div class="modal fade" id="modal-smtp" role="dialog" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog believerModal" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" >
                                            <h5 class="modal-title" id="hddesg">Country</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="col-12 p-0 mx-auto" action="" method="post">
                                                <div class="row">
                                                    <div class="form-group flex_form-group align-items-baseline col-md-8 col-lg-6">
                                                        <label for="txtditid" class="f-label_align" id="hddesg1">Country<span  style="color: red;">*</span></label>
                                                        <input type="text" class="form-control input-sm" id="txtname" placeholder="Enter Country" autocomplete="off" maxlength="200" onkeyup="validcount(this)">
                                                        <input type="text" class="form-control input-sm d-none" id="txtdid">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary btn-sm btn-biz_logic" id="btnSubmit">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="md-overlay"></div>
                            <!-- Add Contact Ends Model-->
                    </div>

                    <!-- Container-fluid ends -->
                </div>
                <!-- Page-body end -->
            </div>
        </div>
        <!-- Warning Section Starts -->

        <div id="styleSelector">

        </div>
    </div>
</div>
@* end of picoded content *@
