.login-card img {
    width: 100px;
    background-color: white;
}

.imageFooter {
    width: 20px;
}

.navbar-logo img {
    max-width: 100px;
    vertical-align: middle;
    border-style: none;
    margin-top: -6px;
    margin-right: 20px;
}

.navbar-logo img-fluid {
    max-width: 100%;
    height: auto;
}

*,
::after,
::before {
    box-sizing: inherit;
}

h3 {
    font-size: 10px;
}

.invoice-box img {
    width: 200px;
}

.invoice-table th {
    font-weight: lighter;
}

.p {
    text-align: center;
}

.login {
    background-image: url(../images/pattern1.png) !important;
}

hr.new {
    border: 2px solid rgba(0, 115, 170, 0.5);
}

.inner p {
    text-align: center;
}

.button dropdown-item {
    background-color: rgba(255, 255, 255, 0);

}

.show-notification li {
    background-color: rgba(255, 255, 255, 0);

}

.btncolor {
    background-color: rgba(255, 255, 255, 0);
}

.modal-header {
    background-color: #0073aa !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 28px;

}

.modal-header h5 {
    color: white;
}