<body data-layout="horizontal" data-topbar="light" data-sidebar-size="sm">
    <!-- Start right Content here -->
    <div class="page-content">
        <div class="main-content">
                     <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0">Company Inbox</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <!-- <li class="breadcrumb-item"> <button class="btn btn-primary">Create Invoice</button></li> -->

                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                 <!-- Container-fluid starts-->
                     @* BODY DETAILS CARD/PANEL *@
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="tbl-smtp"
                                            class="table table-bordered table-hover js-basic-example dataTable table-custom">
                                            <thead>
                                                <tr>
                                                    <th class="setup_actions" style="width:5px;">Sno</th>
                                                    <th>@ViewData["compname"]</th>
                                                    <!-- <th>@ViewData["poboxno"]</th> -->
                                                    <th>@ViewData["addr"]</th>
                                                    <!-- <th class="d-none">Region Id</th> -->
                                                    <!-- <th class="d-none">District Sno</th> -->
                                                    <!-- <th class="d-none">Ward Id</th> -->
                                                    <!-- <th>@ViewData["tino"]</th> -->
                                                    <!-- <th>@ViewData["vatno"]</th> -->
                                                    <!-- <th>@ViewData["dirnam"]</th> -->
                                                    <th>Email</th>
                                                    <!-- <th>@ViewData["teleno"]</th> -->
                                                    <!-- <th>@ViewData["faxno"]</th> -->
                                                    <th>@ViewData["Mno"]</th>
                                                    <th>Status</th>
                                                    @*<th>Company Logo</th>
                                                    <th>Director Signature</th>*@
                                                    <th class="setup_actions">@ViewData["Actions"]</th>
                                                    <!-- <th class="d-none">Branch Id</th> -->
                                                    <th class="d-none">Cheker</th>
                                                </tr>
                                            </thead>

                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [MODALS] -->
                    <div class="modal" id="modal-smtp" tabindex="-1" role="dialog" data-backdrop="static"
                        data-keyboard="false" aria-labelledby="believerCreateLabel" aria-hidden="true">
                        <div class="modal-dialog believerModal modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title offset" id="exampleModalLabel1">@ViewData["compmas"]</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form class="col-12 p-0 mx-auto" action="AddCompanyBank" method="post" name="form1">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div
                                                class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                                                <label for="gender" class="f-label_align">@ViewData["compmas"]<span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="txtcompname"
                                                    placeholder="Company Name" readonly onkeyup="validCompany(this)"
                                                    onkeypress="return alpha(event)" maxlength="100" />
                                                <input type="hidden" class="form-control  hidden" id="txtSID">
                                                <input type="hidden" class="form-control  hidden" id="txtDname">

                                            </div>

                                            <div
                                                class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                                                <label for="gender" class="f-label_align">@ViewData["poboxno"]</label>
                                                <input type="text" class="form-control" id="txtpono"
                                                    placeholder="Post Box No" readonly onblur="return alpha(event)"
                                                    onkeypress="return isNumber(event)" maxlength="50" />

                                            </div>
                                            <div
                                                class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                                                <label for="gender" class="f-label_align">@ViewData["addr"]</label>
                                                <textarea type="text" id="txtadd" class="form-control"
                                                    placeholder="Address" readonly maxlength="100"></textarea>
                                            </div>
                                            <div class="form-group flex_form-group align-items-baseline col-md-6">
                                                <label for="gender" class="f-label_align">@ViewData["Region"]</label>
                                                <select class="form-control" id="ddlreg" name="ddlreg"></select>
                                            </div>


                                            <div class="form-group flex_form-group align-items-baseline col-md-6">
                                                <label for="gender" class="f-label_align">@ViewData["District"] </label>
                                                <select class="form-control" id="ddldist" name="ddldist"></select>
                                                <input type="hidden" class="form-control  hidden" id="txtSname">
                                            </div>
                                            <div class="form-group flex_form-group align-items-baseline col-md-6">
                                                <label for="gender" class="f-label_align">@ViewData["Ward"]</label>
                                                <select class="form-control" id="ddlward" name="ddlward"></select>
                                                <input type="hidden" class="form-control  hidden" id="txtWname">
                                            </div>


                                            <div
                                                class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                                                <label for="gender" class="f-label_align">@ViewData["tino"]</label>
                                                <input type="Text" class="form-control" id="txttinno"
                                                    placeholder="Tin No" readonly onkeypress="return isNumber(event)"
                                                    maxlength="9" onkeydown="validComp(this)"
                                                    onblur="TinnoValiadte(this);" />
                                                <div class="form-group flex_form-group align-items-baseline offset">
                                                    <span id="lblError4"></span>
                                                </div>
                                            </div>
                                            <div
                                                class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                                                <label for="gender" class="f-label_align">@ViewData["vatno"]</label>
                                                <input type="text" class="form-control" id="txtvatno"
                                                    placeholder="Vat No" readonly onblur="return alpha(event)"
                                                    onkeypress="return isNumber(event)" maxlength="20" />

                                            </div>

                                            <div
                                                class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                                                <label for="gender" class="f-label_align">@ViewData["dirnam"]</label>
                                                <input type="text" class="form-control" id="txtdname"
                                                    placeholder="Director Name" readonly
                                                    onkeypress="return alpha(event)" maxlength="100" />

                                            </div>
                                            <div
                                                class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                                                <label for="gender" class="f-label_align">@ViewData["EID"]</label>
                                                <input type="text" class="form-control" id="txtemail"
                                                    placeholder="Email" readonly onblur="ValidateEmail(this)"
                                                    @*onkeyup="validCust(this)" *@ maxlength="100" />
                                                <div class="form-group flex_form-group align-items-baseline offset">
                                                    <span id="lblError1"></span>
                                                </div>
                                                <div class="form-group flex_form-group align-items-baseline offset">
                                                    <span id="lblError2"></span>@*<span id="lblError2"></span>*@
                                                </div>
                                            </div>
                                            <div
                                                class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                                                <label for="gender" class="f-label_align">@ViewData["teleno"]</label>
                                                <input type="text" class="form-control" id="txttelno" readonly
                                                    placeholder="Telephone No" maxlength="20" />

                                            </div>
                                            <div
                                                class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                                                <label for="gender" class="f-label_align">@ViewData["faxno"]</label>
                                                <input type="Text" class="form-control" id="txtfaxno" readonly
                                                    placeholder="Fax No" onkeypress="return isNumber(event)"
                                                    maxlength="20" @*onkeydown="validCust(this)" *@ />

                                            </div>
                                            <div
                                                class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                                                <label for="gender" class="f-label_align">@ViewData["Mno"]<span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="txtmob" readonly
                                                    placeholder="Mobile Number" maxlength="12"
                                                    @*onkeydown="validCust(this)" *@ onblur="mobileValiadte(this);" />
                                                <div class="form-group flex_form-group align-items-baseline offset">
                                                    <span id="lblError"></span>
                                                </div>
                                            </div>
                                            <div class="form-group flex_form-group align-items-baseline col-md-6">
                                                <label for="gender" class="f-label_align">Branch<span
                                                        class="text-danger">*</span></label>
                                                <select class="form-control" id="ddlbra" name="ddlbra"></select>
                                            </div>
                                            <div class="form-group flex_form-group align-items-baseline col-md-6">
                                                <label for="gender" class="f-label_align">Checker/Maker<span
                                                        class="text-danger">*</span></label>
                                                <input type="radio" class="ml-2" name="checker" id="rbyes"
                                                    value="Yes">&nbsp;<label for="Male">Yes</label>
                                                &nbsp; <input class="ml-2" type="radio" name="checker" id="rbno"
                                                    value="No">&nbsp;<label for="FeMale">No</label>
                                            </div>
                                            @*<div
                                                class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                                                <label for="gender" class="f-label_align">Company Logo<span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="imglogo"
                                                    placeholder="Post Box No" onblur="return alpha(event)"
                                                    onkeypress="return isNumber(event)" maxlength="100" />

                                            </div>
                                            <div
                                                class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                                                <label for="gender" class="f-label_align">Director Signature<span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="txtsig"
                                                    placeholder="Post Box No" onblur="return alpha(event)"
                                                    onkeypress="return isNumber(event)" maxlength="100" />

                                            </div>*@
                                        </div>
                                        <div class="row"></div>
                                        <hr>
                                        <div class="row mx-0">
                                            <h4>@ViewData["bnkdets"]</h4>
                                            <div class="dt-responsive table-responsive">
                                                <table
                                                    class="table table-bordered rounded e-de-table-center-alignment text-center display no-wrap"
                                                    align="center" id="tblchruch">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th data-orderable="false">sno</th>

                                                            <th data-orderable="false">@ViewData["accno"]</th>
                                                            @*<th data-orderable="false">@ViewData["Actions"]</th>*@
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>

                                                            <td>
                                                                <div class="form-group mb-0">
                                                                    <input type="text"
                                                                        class="form-control input-sm col-10"
                                                                        maxlength="50" autocomplete="off"
                                                                        placeholder="Account No"
                                                                        @*onkeydown="validCo(this)" *@
                                                                        onchange="binddupliacteAccountDetails(this);"
                                                                        id="txtaccno" disabled />
                                                                </div>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        @*<div
                                            class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                                            <label for="gender" class="f-label_align">Certificate Serial<span
                                                    class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="txtpfx"
                                                placeholder="Certificate Serial" onblur="return alpha(event)"
                                                onkeypress="return isNumber(event)" maxlength="20" />

                                        </div>

                                        <div class="form-group flex_form-group align-items-baseline col-md-6 col-lg-6">
                                            <label for="gender" class="f-label_align">PFX Password<span
                                                    class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="txtpwd"
                                                placeholder="PFX Password" onkeypress="return alpha(event)"
                                                maxlength="100" />

                                        </div>*@
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-info btn-sm"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-outline-primary btn-sm btn-biz_logic"
                                                id="btnSubmit">Approve</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="md-overlay"></div>
                    <!-- Container-fluid ends -->
               
                <!-- Container-fluid Ends-->
         </div>
    </div>
    </div>
</body>