@{
    var user = Session["admin1"] as string;
    var flogin = Session["flogin"] as string;

{
    ViewBag.Title = "Setup";
    Layout = "~/Views/Shared/_Invoice_layout.cshtml";
}



 if (user == "Bank" && flogin == "true")
        {
                
                    <div class="block-header">
                        <div class="row clearfix">
                            <div class="col-md-6 col-sm-12">
                                <h2>Admin Dashboard</h2>
                            </div>
                            <div class="col-md-6 col-sm-12 text-right">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ul>
                               
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">


                        <div class="row clearfix">
                            <div class="col-12">
                                <div class="card top_report">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="body">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                        <i class="fa fa-solid fa-building"></i>
                                                    </div>
                                                    <div class="number float-right text-right">
                                                        <h6>Companies</h6>
                                                        <span class="font700">20</span>
                                                    </div>
                                                </div>
                                                <div
                                                class="progress progress-xs progress-transparent custom-color-blue mb-0 mt-3">
                                                    <div class="progress-bar" data-transitiongoal="87"></div>
                                                </div>
                                                <small class="text-muted">89% compared to last week</small>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="body">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                        <i class="fa fa-solid fa-receipt"></i>
                                                    </div>
                                                    <div class="number float-right text-right">
                                                        <h6>Reports</h6>
                                                        <span class="font700">6</span>
                                                    </div>
                                                </div>
                                                <div
                                                class="progress progress-xs progress-transparent custom-color-green mb-0 mt-3">
                                                    <div class="progress-bar" data-transitiongoal="28"></div>
                                                </div>
                                                <small class="text-muted">50% compared to last week</small>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Z-Report</h2>
                                        <ul class="header-dropdown dropdown dropdown-animated scale-left">
                                            <li> <a href="javascript:void(0);" data-toggle="cardloading"
                                                data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                                            <li><a href="javascript:void(0);" class="full-screen"><i
                                                    class="icon-size-fullscreen"></i></a></li>
                                            <li class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                                role="button" aria-haspopup="true" aria-expanded="false"></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="javascript:void(0);">Action</a></li>
                                                    <li><a href="javascript:void(0);">Another Action</a></li>
                                                    <li><a href="javascript:void(0);">Something else</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="body">
                                        <div class="table-responsive">
                                            <table class="table table-hover js-basic-example dataTable table-custom mb-0">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Z-Number</th>
                                                        <th>Status Code</th>
                                                        <th>Message</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>2-September-2022 06:51:51</td>
                                                        <td>2</td>
                                                        <td>
                                                            0</td>

                                                        <td>
                                                            <button class="btn btn-sm round btn-outline-success">Successfull
                                                                sent</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2-September-2022 06:51:51</td>
                                                        <td>3</td>
                                                        <td>
                                                            1</td>

                                                        <td>
                                                            <button class="btn btn-sm round btn-outline-danger">Failed</button>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">


                            <div class="col-lg-4 col-md-12">

                                @* <div class="card">
                                    <div class="header">
                                        <h2>Email</h2>
                                    </div>
                                    <div class="body widget newsletter">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Enter Email">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="icon-paper-plane"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div> *@
                            </div>
                        </div>

                    </div>

               
        }
         if (user == "Companys" && flogin == "true")
        {
             <div class="block-header">
                        <div class="row clearfix">
                        <div class="col-md-6 col-sm-12">
                        <h2>Dashboard</h2>
                        </div>
                        <div class="col-md-6 col-sm-12 text-right">
                        <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                       
                        </div>
                        </div>
                        </div>

                        <div class="container-fluid">


                        <div class="row clearfix">
                            <div class="col-12">
                                <div class="card top_report">
                                    <div class="row clearfix">
                                        <div class="col-lg-3 col-md-6 col-sm-6">
                                            <div class="body">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                         <i class="fa fa-solid fa-users"></i>
                                                    </div>
                                                    <div class="number float-right text-right">
                                                        <h6>Customers</h6>
                                                        <span class="font700">50</span>
                                                    </div>
                                                </div>
                                                <div
                                                class="progress progress-xs progress-transparent custom-color-blue mb-0 mt-3">
                                                    <div class="progress-bar" data-transitiongoal="87"></div>
                                                </div>
                                                <small class="text-muted">45% compared to last week</small>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6">
                                            <div class="body">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                        <i class="fa fa-solid fa-building"></i>
                                                    </div>
                                                    <div class="number float-right text-right">
                                                        <h6>Companies</h6>
                                                        <span class="font700">20</span>
                                                    </div>
                                                </div>
                                                <div
                                                class="progress progress-xs progress-transparent custom-color-blue mb-0 mt-3">
                                                    <div class="progress-bar" data-transitiongoal="87"></div>
                                                </div>
                                                <small class="text-muted">89% compared to last week</small>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6">
                                            <div class="body">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                        <i class="fa fa-solid fa-file"></i>
                                                    </div>
                                                    <div class="number float-right text-right">
                                                        <h6>Invoices</h6>
                                                        <span class="font700">20</span>
                                                    </div>
                                                </div>
                                                <div
                                                class="progress progress-xs progress-transparent custom-color-blue mb-0 mt-3">
                                                    <div class="progress-bar" data-transitiongoal="87"></div>
                                                </div>
                                                <small class="text-muted">89% compared to last week</small>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6">
                                            <div class="body">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                        <i class="fa fa-solid fa-receipt"></i>
                                                    </div>
                                                    <div class="number float-right text-right">
                                                        <h6>Reports</h6>
                                                        <span class="font700">6</span>
                                                    </div>
                                                </div>
                                                <div
                                                class="progress progress-xs progress-transparent custom-color-green mb-0 mt-3">
                                                    <div class="progress-bar" data-transitiongoal="28"></div>
                                                </div>
                                                <small class="text-muted">50% compared to last week</small>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Z-Report</h2>
                                        <ul class="header-dropdown dropdown dropdown-animated scale-left">
                                            <li> <a href="javascript:void(0);" data-toggle="cardloading"
                                                data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                                            <li><a href="javascript:void(0);" class="full-screen"><i
                                                    class="icon-size-fullscreen"></i></a></li>
                                            <li class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                                role="button" aria-haspopup="true" aria-expanded="false"></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="javascript:void(0);">Action</a></li>
                                                    <li><a href="javascript:void(0);">Another Action</a></li>
                                                    <li><a href="javascript:void(0);">Something else</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="body">
                                        <div class="table-responsive">
                                            <table class="table table-hover js-basic-example dataTable table-custom mb-0">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Z-Number</th>
                                                        <th>Status Code</th>
                                                        <th>Message</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>2-September-2022 06:51:51</td>
                                                        <td>2</td>
                                                        <td>
                                                            0</td>

                                                        <td>
                                                            <button class="btn btn-sm round btn-outline-success">Successfull
                                                                sent</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2-September-2022 06:51:51</td>
                                                        <td>3</td>
                                                        <td>
                                                            1</td>

                                                        <td>
                                                            <button class="btn btn-sm round btn-outline-danger">Failed</button>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">


                            <div class="col-lg-4 col-md-12">

                                @* <div class="card">
                                    <div class="header">
                                        <h2>Email</h2>
                                    </div>
                                    <div class="body widget newsletter">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Enter Email">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="icon-paper-plane"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div> *@
                            </div>
                        </div>

                    </div>

        }}

                    
                  
