
@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_Invoice_layout.cshtml";
}
<script type="text/javascript">

    jQuery(document).ready(function () {
        Getcolumnslang_Ques();
        bindques_Ques();

        $("#btnSubmit").click(function () {

            Addques_Ques();
     //jQuery("#tbl-smtp tbody").empty();
        })


        $("#btnDelete").click(function () {
            Delques_Ques();
        });
    });
</script>

<script type="text/javascript">
    var glob;
    function Getcolumnslang_Ques() {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("bindlan", "Currency")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data != null) {

                }
            }
        });
    }
  //  var $ = jQuery;
    function bindques_Ques() {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("GetQues", "Question")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#tbl-smtp tbody").empty();
                if (jQuery.fn.DataTable.isDataTable("#tbl-smtp")) {
                    jQuery('#tbl-smtp').DataTable().clear().destroy();
                }

                if (data != 0) {
                    var count = 1;
                    jQuery.each(data, function (key, value) {
                        var row = '<tr>' +
                            '<td>' + count + '</td>'+
                           '<td>' + value.Q_Name + '</td>' +
                            '<td>' + value.Q_Status + '</td>' +
                            '<td><button class="btn btn-outline-secondary btn-sm" data-toggle="modal" id = "btn' + value.SNO + '"  data-sid="' + value.SNO + '" value = "Edit" data-target="#modal-smtp" onclick = "showSMTPModal_Ques(this)" ><i class="fas fa-pen"></i></button >&nbsp;&nbsp;<button id = "btn' + value.SNO + '"  data-sid="' + value.SNO + '" value = "Delete" onclick="showSMTPModal_Ques(this)" class="btn btn-outline-dark btn-sm distloc"><i class="fas fa-trash" aria-hidden="true"></i></button ></td > ' +



                        '</tr>';
                        count++;
                        jQuery("#tbl-smtp tbody").append(row);
                    });
                }
                applyDatatable('tbl-smtp');

            }
        })
    }
    

    function Delques_Ques() {

        var table = jQuery('#tbl-smtp').DataTable(),
            selectedRows = table.rows('.selected').data().length,
            selectedRow = table.rows('.selected').data();
            //data = {};

        jQuery('#hdnEmployee').val('D');

        if (selectedRows == 0) {
            notifyMessage('Please select a record(s).', 'warning');
        }
        else {

            //glob = rData;
            deleteques_Ques(cid);
        }
    }

    function Addques_Ques() {

        var message = validateEmployee_Ques(),
        //var message = '',
            type = '',
            opType = jQuery("#hdnEmployee").val();

        if (message.length > 0 && opType != 'D') {
            notifyMessage(message, 'danger');
        }
        else {

            var params = JSON.stringify(GetCount_Ques());
         //   alert(params);
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("AddQues", "Question")',
                data: params,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {

                        hideModal('modal-smtp');
                        if (opType == 'C' && data) {
                            if (data == true) {
                                message = jQuery("#txtname").val() + ' Question Already Exists.';
                                type = 'danger';
                            }
                            else {

                                message = jQuery("#txtname").val() + ' Questions Successfully Created';
                                type = 'success';
                            }
                        }
                        else if (opType == 'U') {
                            var jk = true;
                            if (data == false && jk == true) {

                                message = jQuery("#txtname").val() + ' Question Already Exists.';
                                type = 'danger';
                            } else {
                                message = jQuery("#txtname").val() + ' Questions Successfully Updated';
                                type = 'success';
                            }
                        }

                    notifyMessage(message, type);
                    bindques_Ques();
                }
            })
        }
    }


    function deleteques_Ques(cid,st) {
        //var message = validateEmployee(),
        //var message = '',
            type = '',
            opType = jQuery("#hdnEmployee").val();


        var params = JSON.stringify(getques_Ques(cid));

            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteQues", "Question")',
                data: params,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    hideModal('modal-smtp');
                    //alert(data);
                    if (opType == 'D') {
                        if (data == true) {
                            message = st + ' Question is in Use,Cannot be Deleted.';
                            type = 'danger';

                        }
                        else {
                            message = st + ' Question Successfully Deleted';
                            type = 'success';
                        }
                        notifyMessage(message, type);
                        bindques_Ques();
                    }

                }
            })

    }
</script>



<div class="card-body">
    <h5 class="card-title" id="lblsq">Security Question</h5>

    <div class="form-group d-flex">
        <button type="button" id="btnAdd" value="Add" data-sid="0" class="btn ml-auto mr-1 btn-sm btn-success btn-biz_logic"
                data-toggle="modal" data-target="#modal-smtp" onclick="showSMTPModal_Ques(this);">
            Create
        </button>
        <input type="hidden" id="hdnEmployee" />
    </div>
    <div class="table-responsive">
        <table id="tbl-smtp" class="table table-bordered table-sm rounded display">
            <thead class="thead-light">
                <tr>

                    <th class="sno-th">Sno</th>
                    <th>Question Name</th>
                    <th class="sno-th">Status</th>
                    <th class="sno-th">Actions</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>

</div>


<div class="modal fade" id="modal-smtp" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog believerModal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblsq1">Security Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="col-12 p-0 mx-auto" action="" method="post">
                    <div class="row">
                        <div class="form-group flex_form-group align-items-baseline col-md-8 col-lg-6">
                            <label for="txtdQuestion" class="f-label_align">Question Name<span class="red">*</span></label>

                            <input type="text" class="form-control input-sm" id="txtname" placeholder="Enter Question Name" maxlength="500" onkeyup="valid_Ques(this)">
                            <input type="text" class="form-control input-sm d-none" id="txtdid">
                        </div>

                        <div class="form-group flex_form-group align-items-baseline col-md-6 mt-1">
                            <label for="inputStatus" class="f-label_align"> Status<span class="red">*</span></label>
                            &nbsp;<input type="radio" name="gender" id="rbtrue" value="Active">&nbsp;<label for="Male">Active</label>
                            &nbsp; <input type="radio" name="gender" id="rbfalse" value="InActive">&nbsp;<label for="FeMale">InActive</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success btn-sm btn-biz_logic" id="btnSubmit">Save</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
  
</script>

