html,
body {
    min-height: 100%;
    color: #343a40;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
}

*,
::before,
::after {
    box-sizing: border-box;
}
.red{
    color:red;
    justify-content:flex-start;
}
table {
    width: 100% !important;
}

table.normal-table th:first-of-type,
table.normal-table th:last-of-type {
    width: 5px !important;
}

table .sno-th,
table .actionsbtn-th {
    width: 2%;
}

.back-drop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}

.back-drop.show {
    display: block;
}


header {
    background-color: #FAFBFC;
    height: 60px;
    z-index: 14;
}

.app-logo {
    flex: 1 1 auto;
    /*! @Shilloh */
    max-width: 70px;
    padding-top: 4px;
}

.app-logo .brand-logo {
    background-image: url(../images/rcp_logo.png);
    background-repeat: no-repeat;
    /*! height: 45px; */
    height: 33px;
    width: 60px;
    background-size: contain;
}

.app-toggle {
    width: 40px;
    order: -1;
}



.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    /* position: absolute; */
    width: 24px;
    height: 3px;
    background-color: #032B8B;
}

.hamburger-box {
    width: 24px;
    height: 15px;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
    background-color: #032B8B;
}

.account-info {
    /* 6px padding top */
    padding-top: 0.375em;
}


/* !TOD0: pending */

/*! Mobile screens */

@media (max-width: 767.66px){
    ul.account-info.active {
        display: flex !important;
        position: absolute;
        background-color: #fff;
        top: 65px;
        right: 10px;
        border: solid 1px rgba(0, 0, 0, 0.25);
        border-radius: .5em;
        padding-left: .25em;
        padding-top: .25em;
    }
}

/*.account-info>li:first-of-type{
    margin-left: auto;
} */



.user-detail {
    padding-top: 0.3125em;
}

.app-logo__toggle-btn {
    width: 100px;

    /* ! @Shilloh */
}

.lf-page>.app-logo__toggle-btn {
    width: 63px;
}

.lf-page .sys-title {
    line-height: 68px;
    padding-top: 0px;
}

.links,
.links:hover {
    text-decoration: none;
    color: #343a40;
}

a.image_control {
    cursor: pointer;
}

.image_control .account-image {
    transition: box-shadow .3s ease;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.image_control:hover .account-image {
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.35);
}

.image_control:active .account-image {
    box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.85);
}

.user-name {
    font-weight: 500;
}

sidebar {
    margin-left: -250px;
    width: 250px;
    position: fixed;
    padding-top: 60px;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: margin-left .4s ease-in,
        width .4s ease-out;
    z-index: 12;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Once the toggle btn is clicked on small screens */

sidebar.show {
    margin-left: 0;
}

/* Once the toggle btn is clicked on large screens */

@media (min-width: 78em) {
    sidebar.show {
        margin-left: 0;
        width: 60px;
    }

    sidebar.show.show-sm {
        margin-left: 0;
        width: 250px;
    }

    sidebar.show .link-thumbnail {
        margin: 0 auto;
    }

    sidebar.show.show-sm .link-thumbnail {
        margin: 0;
    }

    sidebar.show .app-link__text {
        position: absolute;
        left: -100px;
    }

    sidebar.show.show-sm .app-link__text {
        position: absolute;
        left: 35px;
    }

    sidebar.show+.app-main {
        padding-left: 60px;
    }
}




.app-main {
    flex: 1 1 auto;
    padding-top: 60px;
    min-height: 100vh;
    max-width: 100%;
    width: 100%;
}

@media (min-width: 62em) {
    sidebar {
        width: 60px;
        margin-left: 0;
        transition: width .4s;
    }

    sidebar.show-lite {
        width: 250px;
    }

    sidebar.show-lite .link-thumbnail {
        margin: 0;
    }

    sidebar .app-link__text {
        position: absolute;
        left: -250px;
    }

    sidebar .dropdown-icon {
        position: absolute;
        right: 200px;
        /* left: -250px; */
    }

    sidebar.show .dropdown-icon {
        right: 200px;
    }

    sidebar.show-lite .app-link__text {
        left: 35px;
    }

    sidebar.show-lite .dropdown-icon {
        right: 10px;
        /* left: 215px; */
    }

    .app-main {
        padding-left: 60px;
        transition: padding-left .4s;
    }

    .app-toggle {
        display: none;
    }
}

@media (min-width: 78em) {
    sidebar {
        width: 250px;
    }

    .app-main {
        padding-left: 250px;
    }

    .app-toggle {
        display: inline;
        order: 1;
    }

    sidebar .dropdown-icon {
        right: 10px;
        /* left: -250px; */
    }
}


.app-link {
    padding: 0.5em;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.dp__app-link:hover,
.app-link:hover {
    background-color: rgba(56, 105, 174, 0.1);
    border-radius: 0.25em;
}

.dp__app-link {
    padding: 0.25em 0.5em;

}


.link-thumbnail {
    width: 20px;
    height: 100%;
    margin-right: 0.5em;
}

.app-link__text {
    font-size: 0.875rem;
    line-height: 0;
}

.dropdown-icon {
    font-weight: normal;
    top: 7px;
    right: 10px;
}

.app-link__dropdown .dropdown-icon>i {
    transform: rotateZ(0deg);
    transition: transform .4s ease;
}

.app-link__dropdown.active .dropdown-icon>i {
    transform: rotateZ(-180deg);
}

@media (min-width: 62em) {
    .app-menu {
        padding-right: 0.5em;
        padding-left: 0.5em;
    }

    .link-thumbnail {
        margin: 0 auto;
    }

    .app-logo__toggle-btn {
        width: 60px;
        margin-right: 6px;
    }
}

@media (min-width: 78em) {
    sidebar .app-link__text {
        left: 35px;
    }

    .link-thumbnail {
        margin: 0;
        margin-right: 0.25em;
    }

    sidebar.show-sm .dropdown-icon {
        right: 10px;
    }

    .app-logo__toggle-btn {
        width: 250px;
        justify-content: space-between;

        /* ! @Shilloh */
    }

}




sidebar .app-nav__dropdown {
    display: none;
}

.app-nav__dropdown {
    margin-left: 1em;
    border-left: rgba(56, 105, 174, 0.1) solid 4px;
}



.main-area {
    background-color: #F1F4F6;
    flex: 1 1 auto;
    padding: 10px;
    width: 100%;

}

.footer {
    /* min-height: 50px; */
    min-height: 49px;
    /* width: 50px; */
    border-top: rgba(0, 0, 0, 0.2) solid 1px;
    background-color: #FAFBFC;

}

.footer p {
    padding-top: 15px;
}

.footer a {
    font-weight: 500;
}

.footer a:hover {
    color: #032B8B;
}


/* SCROLLBAR */
::-webkit-scrollbar {
    width: 7px !important;
    height: 6px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #028DC6;
    background-image: linear-gradient(19deg, #01BDDA 0%, #028DC6 100%);

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


/* ##################################################################################################### */
/* ##################################################################################################### */
/* ##################################################################################################### */
.mx-n10px {
    /* margin: 0 -10px; */
}

.line-btn {
    background-color: #F8F9FA;
    margin: -10px -10px 0px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-bottom: #E9ECEF solid 1px;
    font-weight: 700;
    font-size: 1rem;
}

@media (min-width: 48em) {
    .line-btn {
        font-size: 1.125rem;
    }
}

.card_menu {
    padding-left: 0;
    padding-right: 0;
}

.card_menu:nth-of-type(2n-1) {
    padding-right: 3px;
}

.card_menu:nth-of-type(2n) {
    padding-left: 3px;
}

@media (min-width: 48em) {
    .card_menu:first-of-type {
        padding-right: 3px;
    }

    .card_menu:nth-of-type(2n-1) {
        padding-left: 3px;
    }

    .card_menu:nth-of-type(2n) {
        padding-right: 3px;
    }

    .card_menu:last-of-type {
        padding-right: 0px;
    }

}

@media (min-width: 62em) {
    .card-details:nth-of-type(2n-1) {
        padding-right: 3px !important;
    }

    .card-details:nth-of-type(2n) {
        padding-left: 3px !important;
    }
}

.card_menu .card {
    margin-top: 1px;
    transition: box-shadow 0.3s ease;
}

.card_span_icon {
    background: #F1F4F6;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}

.card_image-box {
    height: 25px;
    width: 25px;
}

.card-icon-details {
    font-size: 0.875rem;
}

@media (min-width: 36em) {
    .card_span_icon {
        background: #F1F4F6;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
        transition: box-shadow .3s ease;
    }

    .card_image-box {
        height: 40px;
        width: 40px;
        padding: .15em;

    }

    .card-icon-details {
        font-size: 1rem;
    }
}

@media (min-width: 55em) {
    .card-icon-details {
        font-size: 1.125rem;
    }
}

.card_image {
    height: 100%;
}

.card-icon-details {
    align-self: flex-end;
    font-weight: 600;
}

.a_links {
    color: #495057;
}

.a_links:hover {
    color: black;
    text-decoration: none;
}

.a_links:hover>.card {
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
}

.a_links:active>.card {
    margin-top: 0;
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.25);
}


.a_links:hover>.card .card_span_icon {
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.5)
}

.contribution-chart {
    height: 328px;
}

.believer-chart {
    height: 375px;
}

@media (min-width:75em) {

    .contribution-chart {
        height: 395px;
    }

    .believer-chart {
        height: 450px;
    }
}


/* ########################################################################################################### */
/* ########################################################################################################### */
/* ########################################################################################################### */
/* ########################################################################################################### */


/* customization on [.card-title] */
.modal-title,
.card-title {
    text-transform: uppercase;
    font-weight: 700;
}

/* BUTTONS */
.btn-biz_logic {
    color: #fff;
    background-color: #3869AE;
    border-color: #032B8B;
}

.btn-biz_logic:hover {
    color: #fff;
    background-color: #3c71bb;
    border-color: #0066FF;
}

.btn-biz_logic:not(:disabled):not(.disabled).active,
.show>.btn-biz_logic.dropdown-toggle,
.btn-biz_logic:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #3c71bb;
    border-color: #0066FF;
    box-shadow: 0 0 0 0.2rem rgba(3, 44, 139, 0.1);
}

.btn-biz_logic.focus,
.btn-biz_logic:focus {
    color: #fff;
    background-color: #3c71bb;
    border-color: #0066FF;
    box-shadow: 0 0 0 0.2rem rgba(3, 44, 139, 0.1);

}

.font-w500 {
    font-weight: 500;
}

/* [DATATABLE - CONTROLS] */
table td,
table th {
    white-space: nowrap;
}

.setup_actions {
    min-width: 40px;
    width: 60px;
}

/* [PAGINATION CONTROLS] */
.paginate_button.page-item.active>.page-link,
.paginate_button.page-item.active>.page-link.active,
.btn-success.btn-biz_logic {
    color: #fff;
    background-color: #3869AE;
    border-color: #032B8B;
}

.paginate_button.page-item.active>.page-link:hover,
.btn-success.btn-biz_logic:hover {
    color: #fff;
    background-color: #3c71bb;
    border-color: #0066FF;
}



.notification-bell {
    cursor: pointer;
}

.notification i {
    font-size: 1.25rem;
}

.notification-counter {
    top: -5px;
    width: 1.5em;
    height: 1.5em;
    right: -5px;
    font-weight: 500;
    /* animation-name: heartbeat;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; */
}

.notification-box {
    top: 60px;
    right: -0.5em;
    width: 87vw;
    max-width: 400px;
    display: none;
}

#notifyID.active+.notification-box {
    display: inline-block;
    animation-name: fadeInDown;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes heartbeat {

    0%,
    100% {
        transform: scale(1)
    }

    50% {
        transform: scale(.8)
    }
}

.notification-links {
    background-image: radial-gradient(#fff, rgba(241, 244, 246, 0.3));
    display: block;
    border-radius: 0.5em;
    padding: 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}

.notification-links:hover {
    transform: scale(1.005);
}

.notification-links::after {
    content: '';
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.5em;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.notification-links:hover::after {
    opacity: 1;
}

.notification-size {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* [MODAL] */
.modal-dialog {
    max-width: 1200px;
}

/* ########################################################################################################## */
/* ########################################################################################################## */
/* ########################################################################################################## */
/* ########################################################################################################## */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(191, 191, 191, .87) !important;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(191, 191, 191, .87) !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(191, 191, 191, .87) !important;
}

/* In create believer, there is a need to align the labels horizontal.
The form group has d-flex class to make the box flex box.
This class below gives the label min-width on sm-> screens */

.flex_form-group {
    display: block !important;
}

.span-btn_sm {
    padding: .25rem .4875rem;
}

.list-myStyle>li::before {
    content: '- ';
}

.profile-label_align {
    min-width: 145px;
    margin: 0;
}

.inst-label_align {
    min-width: 75px;
    margin: 0;
}

@media (min-width: 36em) {
    .f-label_align {
        min-width: 120px;
        margin: 0;
    }

    .inst-label_align {
        min-width: 140px;
        margin: 0;
    }

    .contsetup-label_align {
        min-width: 170px;
        margin: 0;
    }

    .profile-label_align {
        min-width: 145px;
        margin: 0;
    }

    .contrb-label_align {
        min-width: 130px;
        margin: 0;
    }

    .f-label_align-sm {
        min-width: 95px;
        margin: 0;
    }

    .flex_form-group {
        display: flex !important;
        margin-bottom: 0.4em;
    }
}

.f-label {
    min-width: 130px;
    margin: 0;
    font-weight: 600;
}

.text-bsl {
    color: #032B8B !important;
}

/* ############################################################################################################# */
/* ############################################################################################################# */
/* ############################################################################################################# */
/* ############################################################################################################# */

.transaction-time {
    width: 100%;
    max-width: 85px;
}

.user-logs {
    height: 375px;
}

.contributions-header,
.userLog-header {
    flex-direction: column;
}

@media (min-width: 48em) {

    .contributions-header,
    .userLog-header {
        flex-direction: row;
    }
}

@media (min-width: 62em) {

    .contributions-header h5 {
        font-size: 0.9375rem;
    }
}

@media (min-width: 75em) {

    .contributions-header h5 {
        font-size: 1.25rem;
    }
}

/* ########################################################################################################################################### */
/* ########################################################################################################################################### */
/* ########################################################################################################################################### */

.card_counter {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: .25em;
}

.card_counter p {
    max-width: 95px;
    text-align: center;
    font-size: 0.875rem;
}



@media (min-width: 48em) {
    .card_counter p {
        font-size: 1rem;
    }
}


@media (min-width: 48em) {

    .card_counter {
        padding-left: 3px;
        padding-right: 3px;
    }

    .card_counter:first-of-type {
        padding-right: 3px;
    }

    .card_counter:last-of-type {
        padding-right: 0px;
    }

}

.box-pb {
    padding-bottom: 0.35em;
}



.card-img {
    max-width: 32px;
    height: 100%;
    opacity: .85;
}

.card-img+h5.h3-rigid {
    font-size: 2rem;
}

@media(min-width: 48em) {
    .box-pb:nth-of-type(1) {
        padding-right: 3px !important;
    }

    .box-pb:nth-of-type(2) {
        padding-left: 3px !important;
    }
}

@media (min-width: 62em) {
    .card-img+h5 {
        font-size: 1rem;
    }

    .box-pb:nth-of-type(-n+2) {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

}

@media (min-width: 75em) {
    .card-img+h5 {
        font-size: 1.75rem;
    }
}

#paidContributionTable tr>td:first-of-type,
#paidContributionTable tr>th:first-of-type,
#pendingContributionTable tr>td:first-of-type,
#pendingContributionTable tr>th:first-of-type {
    min-width: 35px !important;
    width: 50px;
}

#familyMemberTable tbody td:first-of-type,
#familyMemberTable thead th:first-of-type {
    width: 40px !important;
}

#familyMemberTable tbody td,
#familyMemberTable thead th {
    min-width: 50px !important;
    text-align: center;
}

#familyMemberTable tbody td:nth-of-type(2),
#familyMemberTable thead th:nth-of-type(2) {
    min-width: auto !important;
    text-align: left;
}

#paidContributionTable tbody td:nth-last-of-type(2),
#paidContributionTable thead th:nth-last-of-type(2),
#pendingContributionTable tbody td:nth-last-of-type(2),
#pendingContributionTable thead th:nth-last-of-type(2) {
    width: 80px;
    text-align: center;
}

#pendingContributionTable tbody td:last-of-type,
#pendingContributionTable thead th:last-of-type,
#pendingContributionTable tbody td:nth-last-of-type(3),
#pendingContributionTable thead th:nth-last-of-type(3) {
    width: 80px;
    text-align: center;
}

#paidContributionTable tbody td:last-of-type,
#paidContributionTable thead th:last-of-type {
    width: 110px;
    text-align: center;
}


/* ########################################################################################################### */
/* ########################################################################################################### */
/* ########################################################################################################### */
/* ########################################################################################################### */

div.ui.search.form-control.selection,
div.ui.search input.search {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    min-height: 2em;
}

.ui.search.dropdown>.text {
    /* left: 5px; */
    top: 6px;
}

input.search {
    padding: .375rem .75rem !important;
}

div.ui.dropdown.pious-me {
    min-height: 30px !important;
}

div.ui.dropdown.pious-me .default.text {
    opacity: 1;
    color: #000000;
}

div.ui.dropdown.pious-me .ui.label {
    padding: 0.25rem;
}

div.ui.dropdown .dropdown.icon,
div.ui.search.dropdown .dropdown.icon {
    top: 0.75em !important;
    padding: 0.75em !important;
}


table#beliverContributionsTable th:first-of-type,
table#beliverContributionsTable td:first-of-type,
table#beliverContributionsTable th:nth-last-of-type(2),
table#beliverContributionsTable td:nth-last-of-type(2),
table#beliverContributionsTable th:nth-last-of-type(3),
table#beliverContributionsTable td:nth-last-of-type(3) {
    width: 60px !important;
}

table#beliverContributionsTable th:nth-of-type(2),
table#beliverContributionsTable td:nth-of-type(2) {
    width: 250px !important;
}



table#tblchruch td {
    min-width: 250px;
}

table#tblchruch td:first-of-type,
table#tblchruch td:last-child {
    min-width: 100px;
    width: 100px;
}

.card-auth {
    width: 100%;
    max-width: 350px;
}

.auth-control>[class*='col-'] {
    max-width: 100%;
    flex: 0 0 100%;
}

.auth-control>.col-4 {
    order: -1;
    margin-bottom: 0.5em;
}

.reset-pswd button,
.auth-control button {
    width: 100%
}

@media (min-width: 23em) {
    .auth-control>.col-8 {
        max-width: 66%;
        flex: 0 0 66%;
    }

    .auth-control>.col-4 {
        order: 2;
        margin-bottom: 0;
        max-width: 33%;
        flex: 0 0 33%;
    }

    .reset-pswd button {
        width: auto;
    }

    .auth-control button {
        width: 100%
    }
}

@media (min-width: 48em) {
    .card-auth {
        max-width: 400px;
    }
}


/* ##################################################### */

.details-box {
    background-color: #E9ECEF;
    padding: 0.25em;
    color: #000000;
    font-weight: 500;
    width: 100%;
}

.details-box>.hr {
    height: 1px;
    background-color: #000;
    flex: 1 1 auto;
}

.profile-details_box .form-control-plaintext {
    padding: .25rem 0;
}

@media (min-width: 48em) {
    .profile-details_box {
        border: #E9ECEF solid 1px;
        border-top: none;
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem;
        height: 240px;
        padding: 0 1em;
    }
}


#memberContributions tbody td:nth-of-type(n+3) {
    text-align: right;
}



.sys-title {
    font-size: 1.1rem;
    font-weight: bolder;
    flex: 1 1 auto;
    padding-top: .5em;
    /* line-height: 60px;  */
}

@media (min-width: 22.5em) {
    .sys-title {
        font-size: 1.25rem;
    }
}

@media (min-width: 415px) {
    .sys-title {
        padding-top: .875em;
    }
}

@media (min-width: 30em) {
    .sys-title {
        padding-top: .5em;
        font-size: 1.5rem;
        /* line-height:; */
    }
}

@media (min-width: 48em) {
    .sys-title {
        font-size: 1.55rem;
    }
}


.card-rounded {
    /* border-radius: 1.25em; */
    margin-top: .25rem;
    background-repeat: no-repeat;
    /* height: 100px; */
    /* border: none; */
}

.btn-rounded {
    border-radius: 1.5em;
    padding: 2px 7px !important
}

.card-rounded>.card-body {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 1.25em;
    padding: 1.25em .875em;
    /* padding-bottom: .5em; */
}

.image-logo {
    border-radius: .5em;
    background: rgba(255, 255, 255, 0.25);
    padding: 5px;
    width: 42px;
    height: 44px;
    border: rgba(0, 0, 0, 0.25) 1px solid;
}

.top-container,
.bottom-container {
    display: flex;
}

.card-count-value {
    flex: 1;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: .875em;
    height: 29px;
}

.btn-container {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}



/* Gradient */
.gradient-1 {
    background: #C9D6FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-2 {
    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d5d3c0, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d5d3c0, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-3 {
    background: #EDE574;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E1F5C4, #EDE574);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E1F5C4, #EDE574);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

























/* [Start your codes here] */
/* Please do not mix any codes with the layout codes. */